<div class="webgl-model" id="{{ id }}" data-model="{{ modelName }}" data-pagefind-ignore>
  <canvas class="webgl-model-canvas"></canvas>
  <p class="webgl-model-hint">drag to rotate · scroll / pinch to zoom</p>
</div>
<script src="/assets/planet-renderer.js" defer></script>
<script src="/assets/models/{{ modelName }}.js" defer></script>
